/* ==========================================================================
   Imports
   ========================================================================== */

@import "saf.typography.css";
@import "saf.layout.css";
@import "saf.extras.css";
@import "../js/zurb-responsive-tables/responsive-tables.css";


@font-face {
  font-family: 'ostrich_sansmedium';
  src: url('../fonts/ostrich-sans/ostrich-regular-webfont.eot');
  src: url('../fonts/ostrich-sans/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ostrich-sans/ostrich-regular-webfont.woff') format('woff'),
       url('../fonts/ostrich-sans/ostrich-regular-webfont.ttf') format('truetype'),
       url('../fonts/ostrich-sans/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   Generals
   ========================================================================== */

html {}
  
  body {
    /*font-family: "Chaparral Pro", "Georgia", serif;*/
    font-family: "Georgia", serif;
  }

.lang {
  position: absolute; top: 0; right: 0;
}
  .lang a:link,
  .lang a:visited {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: .85em;
    text-align: center;
    color: #999;
    background-color: rgba(0,0,0,.075);
  }

  .lang a:hover,
  .lang a:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,.125);
  }


/* ==========================================================================
   Float clearing (available classes .clear, .overflow-clear, .after-clear)
   ========================================================================== */

.page-footer:before,
.page-footer:after
.speaker:before,
.speaker:after {
  content: "";
  display: table;
  height: 0;
  margin: 0;
  clear: both;
}


/* ==========================================================================
   Links
   ========================================================================== */

a:link,
a:visited {
  color: #ff6536;
}

a:focus,
a:hover {}

a:active {}


img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Header
   ========================================================================== */

.page-header {
  overflow: hidden;
}

.branding {
  min-height: 592px;
  padding: 1px 36px;
  font-size: 18px;
  background-color: #e5edee;
}
  
  .branding img {
    display: block;
    margin: 100px auto 0 auto;
  }

  .branding figcaption {
    font-size: 1.15em;
    line-height: 1.75;
    padding-bottom: 100px;
  }

.date-place {
  min-height: 592px;
  padding: 1px 0;
  border-left: 16px solid #dfdfdf;
  margin-left: -28px;
}
  
  .date-place-content {
    margin-top: 200px;
    padding: 24px;
    line-height: 1;
    background: #f4f4f4 url(../images/arrow-tail.png) 115% 50% no-repeat;
    border-left: 16px solid #ccc;
    margin-left: -16px;
  }

    .date-place-content strong {
      display: block;
      font-family: "ostrich_sansmedium", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: 4.5em;
      font-weight: normal;
    }

    .date-place-content small {
      margin-top: 1em;
      display: block;
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: .85em;
      text-transform: uppercase;
    }

      .date-place-content small a {
        color: #343434;
        text-decoration: underline;
      }

      .date-place-content small a:hover,
      .date-place-content small a:focus {
        text-decoration: none;
      }


/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer {
  padding: 80px 0;
  line-height: 1.75;
}
  
  .page-footer a {
    color: inherit;
    text-decoration: underline;
  }

  .page-footer a:hover,
  .page-footer a:focus {
    text-decoration: none;
  }

  .page-footer small {
    font-size: .85em;
    color: #aaa;
  }


/* ==========================================================================
   About
   ========================================================================== */

.about-what {
  padding: 120px 64px;
}

.loud {
  font-size: 1.35em;
  line-height: 2;
}

.about-what-action {
  margin-top: 64px;
}

.twitter-icon {
  display: block;
  width: 121px;
  height: 106px;
  margin: 0 auto;
  transition: 0.6s;
}

/* Hover effect */
  

.twitter-icon:hover {
  -webkit-transform: rotateY(360deg);
     -moz-transform: rotateY(360deg);
       -o-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.about-focus {
  margin-left: -28px;
  padding: 0 100px 64px 100px;
  background-color: #db2a2a;
}

  .about-focus h1 {
    margin: 0 -100px;
    height: 100px;
    font-size: 1.25em;
    letter-spacing: .5em;
    text-transform: uppercase;
    line-height: 100px;
    color: #fff;
    background-color: #a31923;
  }

  .about-focus h1:before,
  .about-focus h1:after {
    content: "•"
  }

  .about-focus figure {
    margin: 36px 0 64px 0;
  }

  .about-focus p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: #e5edee;
  }

  .about-focus p:after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    width: 70%;
    margin: 64px auto 0 auto;
  }


/* ==========================================================================
   Break headings
   ========================================================================== */

.break {
  margin: 80px 0;
}
  
  .break h1 {
    height: 176px;
    line-height: 176px;
    background: url(../images/break-pattern.png);
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
  }

  .break-stripes h1 {
    font-size: 4em;
    letter-spacing: .4em;
    color: #fff;
    background: #db2a2a url(../images/break-pattern-stripes.png) 0 0 repeat-x;
    background-size: contain;
  }

  .break-stripes h1:before,
  .break-stripes h1:after {
    content: "•";
  }


/* ==========================================================================
   Speakers
   ========================================================================== */

.speaker {
  margin-top: 80px;
  /*overflow: hidden;*/
}

.speaker-photo {
  position: relative;
  min-height: 301px;
}
  
  .speaker-photo img {
    display: block;
    position: relative; top: -30px;
  }

  .speaker-photo figcaption {
    display: block;
    margin-top: -245px;
    margin-left: 50px;
    padding: 36px 0 36px 235px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    background: #db2a2a url(../images/arrow-tail.png) 110% 50% no-repeat;
    color: #fff;
  }

  .speaker-about {}

    .speaker-about h1 {
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: .85em;
      text-transform: uppercase;
      letter-spacing: .2em;
    }

    .speaker-about p {
      font-size: 1.1em;
    }

    .speaker-about .speaker-about-action {
      font-size: .85em;
    }


/* ==========================================================================
   Timetable
   ========================================================================== */

.timetable {
}

table {
  margin: 0;
  font-size: 1.35em;
}

th {
  padding: 0 24px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: .65em;
  text-align: center;
}
  
  .label {
    display: inline-block;
    padding: 8px 36px;
    background-color: #f4f4f4;
    border-radius: 2em;
    white-space: pre;
  }

td {
  padding: 48px 24px;
  border-bottom: 1px solid #dfdfdf;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
}

tr:last-child td { border-bottom: 0; }

.timetable-timeslot {
  font-family: "ostrich_sansmedium", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 4em;
  line-height: 1;
}

.break-row td {
  color: #aaa;
}
  
  .timetable-speaker {
    display: block;
    margin-bottom: .35em;
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #999;
  }

/* ==========================================================================
   Registration
   ========================================================================== */

.registration {
  margin-top: 80px;
  padding: 80px 0;
  background-color: #f4f4f4;
}
  
  .registration-title {
    margin: .175em 0 0 0;
    font-size: 7em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: right;
    word-wrap: break-word;
  }

  .registration-action {
    display: block;
    width: 100%;
    height: 0;
    line-height: 1;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    background: #ff921e;
    background: -moz-linear-gradient(top,  #ff921e 0%, #a41923 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff921e), color-stop(100%,#a41923));
    background: -webkit-linear-gradient(top,  #ff921e 0%,#a41923 100%);
    background: -o-linear-gradient(top,  #ff921e 0%,#a41923 100%);
    background: -ms-linear-gradient(top,  #ff921e 0%,#a41923 100%);
    background: linear-gradient(to bottom,  #ff921e 0%,#a41923 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff921e', endColorstr='#a41923',GradientType=0 );
  }

    .registration-action-label {
      display: block;
      position: absolute; top: 50%; left: 0; right: 0;
      margin-top: -.5em;
      text-align: center;
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: .85em;
      text-transform: uppercase;
      letter-spacing: .2em;
      color: #fff;
    }

  .registration-action:active {
    background: #cf4e15;
    box-shadow: 0 2px 4px rgba(0,0,0,.25) inset;
  }

  /* Hover effect */

  .registration-action {
    /*background: rgba(0,0,0,0.1);*/
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
  }

  .registration-action:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .registration-action:hover {
    /*background: rgba(0,0,0,0.05);*/
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    color: #fff;
  }

  .registration-action:hover:after {
    -webkit-animation: sonarEffect 350ms ease-out 75ms;
    -moz-animation: sonarEffect 350ms ease-out 75ms;
    animation: sonarEffect 350ms ease-out 75ms;
  }

  @-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1), 0 0 10px 10px #ff921e, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ff921e, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.25);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1), 0 0 10px 10px #ff921e, 0 0 0 10px rgba(0,0,0,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1), 0 0 10px 10px #ff921e, 0 0 0 10px rgba(0,0,0,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1), 0 0 10px 10px #ff921e, 0 0 0 10px rgba(0,0,0,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1), 0 0 10px 10px #ff921e, 0 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

  .registration-about {
    margin-top: 80px;
  }


/* ==========================================================================
   Venue
   ========================================================================== */

.venue {}
  
  .venue-header {
    margin: 80px 0;
    text-align: center;
  }

    .venue-header h1 {
      margin: 0;
      font-size: 1.5em;
      text-transform: uppercase;
    }

    .venue-header p {
      margin: 0;
    }

  .venue-photo,
  .venue-map {
    float: left;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
  }

  .venue-photo {
    background: url(../images/venue-photo.jpg) 0 0 no-repeat;
    background-size: 100%;
  }

  .venue-map {
    position: relative;
  }

    .venue-photo img {
      display: none;
    }

    .venue-map iframe {
      display: block;
      width: 100% !important;
      height: 100% !important;
      position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    }


/* ==========================================================================
   Breakpoint: 960px
   ========================================================================== */

@media only screen and (max-width: 960px) {
  
  .date-place strong {
    font-size: 3.5em;
  }

  .loud {
    font-size: 1.25em;
  }

  .about-focus p {
    font-size: .85em;
  }

  .speaker-photo figcaption {
    font-size: .85em;
  }

  table td {
    padding-left: 14px;
    padding-right: 14px;
  }

  .timetable-timeslot {
    font-size: 3em;
  }

  .registration-title {
    font-size: 6em;
    margin-top: .1em;
  }

}


/* ==========================================================================
   Breakpoint: 800px
   ========================================================================== */

@media only screen and (max-width: 800px) {
  
  .page-header {
    margin: 0 -28px;
  }

    .branding,
    .date-place {
      min-height: 0;
    }

    .date-place {
      margin-left: 0;
      padding: 0;
      border-left: none;
    }

      .date-place-content {
        margin-left: 0;
        margin-top: 0;
        border-left: none;
        background-image: none;
        background-color: #d5dddf;
      }

  .about-focus {
    margin-right: -28px;
  }

  .break {
    margin-top: 0;
  }

  .timetable-timeslot {
    font-size: 2em;
  }

  .registration-title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 80px;
  }

  .registration-action {
    margin: 0 10%;
    width: 80%;
    padding-bottom: 80%;
  }

  .venue-header p {
    margin-top: 1em;
    line-height: 1.25;
  }

}


/* ==========================================================================
   Breakpoint: 640px
   ========================================================================== */

@media only screen and (max-width: 640px) {
  
  .speaker-photo img {
    position: static;
    margin: 0 auto;
  }

  .speaker-photo figcaption {
    margin-top: 36px;
    margin-left: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    color: #db2a2a;
    background: transparent;
  }

  .speaker-about {
    text-align: center;
  }

  .speaker-about .speaker-about-action {
    font-size: inherit;
  }

  .break-stripes h1 {
    font-size: 3em;
  }

  .label {
    padding-left: 24px;
    padding-right: 24px;
  }

  td {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: .85em;
    text-align: left;
  }

  .timetable-timeslot {
    font-size: 1.5em;
  }

}


/* ==========================================================================
   Breakpoint: 480px
   ========================================================================== */

@media only screen and (max-width: 480px) {
  
  .branding {
    padding: 1px 28px;
  }

    .branding img {
      margin-top: 64px;
    }

    .branding figcaption {
      padding-bottom: 64px;
    }

  .date-place strong {
    font-size: 3em;
  }

  .about-what {
    padding: 64px 0 80px 0;
  }

  .about-focus {
    padding-left: 28px;
    padding-right: 28px;
  }

  .about-focus h1 {
    margin-left: -28px;
    margin-right: -28px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .break h1 {
    font-size: 1.75em;
  }

  .break-stripes h1 {
    font-size: 1.5em;
  }

  td {
    font-size: .75em;
  }

  .speaker-photo figcaption {
    font-size: 1.5em;
  }

  .timetable {
    margin-left: -28px;
    margin-right: -28px;
  }

  .timetable-timeslot {
    font-size: 1.25em;
  }

  .registration-title {
    font-size: 1.5em;
  }

  .venue-title h1 {
    line-height: 1.25;
  }

  .venue-photo,
  .venue-map {
    width: 100%;
    padding-bottom: 100%;
  }

}


/* ==========================================================================
   Target high DPI devices
   Source URI: https://gist.github.com/3446599 
   ========================================================================== */

/* ---------------------------------------------------------- */
/*                                                            */
/* A media query that captures:                               */
/*                                                            */
/* - Retina iOS devices                                       */
/* - Retina Macs running Safari                               */
/* - High DPI Windows PCs running IE 8 and above              */
/* - Low DPI Windows PCs running IE, zoomed in                */
/* - Low DPI Windows PCs and Macs running Firefox, zoomed in  */
/* - Android hdpi devices and above                           */
/* - Android tvdpi devices, including Google Nexus 7          */
/* - Chrome running on high DPI Macs and PCs                  */
/* - Opera running on high DPI Macs, PCs and mobile devices   */
/*                                                            */
/* Please note that that this code assumes you'll swap a      */
/* 2× version of your images. If you'd like to supply         */
/* finer increments, other thresholds might be appropriate.   */
/*                                                            */
/* A test for CSS pixel densites can be found here:           */
/* http://bjango.com/articles/min-device-pixel-ratio/         */
/*                                                            */
/*                                  @marcedwards from @bjango */
/*                                                            */
/* ---------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), 
       only screen and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-resolution: 120dpi) {
  /* Your code here */
}
